# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs & Output Artifacts
*.log
logs/
checkpoints/
outputs/
data/

# Unit test / coverage / linter reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments & UV
.env
.envrc
.venv
env/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp

# Marimo / Streamlit
marimo/_static/
__marimo__/
